<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>{% block title %}Filament Inventory Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* Custom styles can be added here if needed */
    </style>
    <script>
        function adjustTextColor() {
            const buttons = document.querySelectorAll('.btn-color');
            buttons.forEach(button => {
                const color = button.getAttribute('data-color');
                const rgb = parseInt(color.slice(1), 16);
                const r = (rgb >> 16) & 0xff;
                const g = (rgb >>  8) & 0xff;
                const b = (rgb >>  0) & 0xff;
                const luma = 0.2126 * r + 0.7152 * g + 0.0722 * b;
                const textElement = button.querySelector('.button-text');
                if (luma < 128) {
                    textElement.style.color = 'white';
                } else {
                    textElement.style.color = 'black';
                }
            });
        }
        document.addEventListener('DOMContentLoaded', adjustTextColor);

        function parseBarcode() {
            var barcode = $('#barcode-input').val();
            $.ajax({
                url: '/parse_barcode',
                type: 'POST',
                data: {barcode: barcode},
                success: function(response) {
                    if (response.success) {
                        $('#location').val(response.location);
                    } else {
                        alert('Error: ' + response.error);
                    }
                },
                error: function() {
                    alert('Error occurred while parsing barcode');
                }
            });
        }
    </script>
</head>
<body>
    {% if request.endpoint != 'index' %}
    <a href="{{ url_for('index') }}" class="btn btn-small btn-exit">Exit</a>
    {% endif %}
    <div class="container">
        <main>
            {% block content %}
            <!-- Content will be injected here by other templates -->
            {% endblock %}
        </main>
    </div>
</body>
</html>
