{% extends 'base.html' %}

{% block content %}
<h1>Filaments</h1>
<form action="{{ url_for('add_filament') }}" method="post">
    <input type="number" name="manufacturer_id" placeholder="Manufacturer ID" required>
    <input type="text" name="type" placeholder="Filament Type" required>
    <input type="text" name="color_name" placeholder="Color Name" required>
    <input type="color" name="color_hex_code" required>
    <button type="submit" class="btn btn-medium">Add Filament</button>
</form>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Color Name</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        {% for filament in filaments %}
        <tr>
            <td>{{ filament[0] }}</td>
            <td>{{ filament[1] }}</td>
            <td>{{ filament[2] }}</td>
            <td>{{ filament[3] }}</td>
            <td class="color-sample" style="background-color: {{ filament[4] }};" title="{{ filament[4] }}"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}" class="btn btn-small">Back to Home</a>
{% endblock %}