{% extends 'base.html' %}

{% block content %}
<h1>Select Filament Type for {{ manufacturer_name }}</h1>
<form id="filamentTypeForm" action="{{ url_for('select_filament_type', manufacturer_id=manufacturer_id) }}" method="post">
    <h2>Select Filament Type:</h2>
    <div class="medium-button-container">
        {% for type in types %}
            <button type="submit" name="filament_type" value="{{ type[0] }}" class="btn btn-medium">{{ type[0] }}</button>
        {% endfor %}
    </div>
</form>
{% endblock %}

<div class="bottom-button-container">
    <a href="{{ url_for('select_manufacturer') }}" class="btn btn-small">Back</a>
</div>
