{% extends 'base.html' %}

{% block content %}
<h1>Select Shelf</h1>
<div class="shelf-buttons">
    {% for shelf in range(1, 9) %}
        <a href="{{ url_for('select_position', manufacturer_id=manufacturer_id, filament_type=filament_type, color_name=color_name, shelf=shelf) }}" class="btn btn-shelf">Shelf {{ shelf }}</a>
    {% endfor %}
</div>
<a href="{{ url_for('select_color', manufacturer_id=manufacturer_id, filament_type=filament_type) }}" class="btn btn-small">Back to Color Selection</a>
{% endblock %}
