{% extends 'base.html' %}

{% block content %}
<h1>Select Color for {{ filament_type }}</h1>
<form id="colorForm" action="{{ url_for('select_color_post') }}" method="post">
    <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}">
    <input type="hidden" name="filament_type" value="{{ filament_type }}">
    <div class="medium-button-container">
    {% if colors %}
      {% for color in colors %}
        <button type="submit" name="filament_id" value="{{ color[0] }}" class="btn btn-medium btn-color" style="background-color: {{ color[2] }};" data-color="{{ color[2] }}">
          <span class="button-text">{{ color[1] }}</span>
        </button>
      {% endfor %}
    {% else %}
      <p>No colors available for this filament type.</p>
    {% endif %}
    </div>
</form>

<script>
  function setContrastingTextColor(button) {
    var bgColor = button.style.backgroundColor;
    var rgb = bgColor.match(/\d+/g);
    var brightness = (parseInt(rgb[0]) * 299 + parseInt(rgb[1]) * 587 + parseInt(rgb[2]) * 114) / 1000;
    button.style.color = brightness > 125 ? 'black' : 'white';
  }

  document.addEventListener('DOMContentLoaded', function() {
    var buttons = document.querySelectorAll('.btn-color');
    buttons.forEach(setContrastingTextColor);
  });
</script>
{% endblock %}
