{% extends 'base.html' %}

{% block content %}
<h1>Shelf {{ shelf }}</h1>
<h2>Select position for {{ color_name }} {{ filament_type }}</h2>
<div style="background-color: #{{ color_hex_code }}; width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin-right: 10px;"></div>
<span style="vertical-align: middle;">Color: #{{ color_hex_code }}</span>
<form action="{{ url_for('add_inventory') }}" method="post">
    <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}">
    <input type="hidden" name="filament_type" value="{{ filament_type }}">
    <input type="hidden" name="color_name" value="{{ color_name }}">
    <div class="position-buttons">
        <div class="left-side">
            <button type="submit" name="location" value="{{ shelf }} left front" class="btn btn-large">Left Front</button>
            <button type="submit" name="location" value="{{ shelf }} left back" class="btn btn-large">Left Back</button>
        </div>
        <div class="right-side">
            <button type="submit" name="location" value="{{ shelf }} right front" class="btn btn-large">Right Front</button>
            <button type="submit" name="location" value="{{ shelf }} right back" class="btn btn-large">Right Back</button>
        </div>
    </div>
</form>
<a href="{{ url_for('select_location', manufacturer_id=manufacturer_id, filament_type=filament_type, color_name=color_name) }}" class="btn btn-small">Back to Shelf Selection</a>
{% endblock %}
