{% extends 'base.html' %}

{% block content %}
<h1>Shelf {{ shelf }}</h1>
<h2>Select position for {{ color_name }} {{ filament_type }}</h2>
<div style="background-color: #{{ color_hex_code }}; width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin-right: 10px;"></div>
<span style="vertical-align: middle;">Color: #{{ color_hex_code }}</span>
<form action="{{ url_for('add_inventory_item') }}" method="post">
    <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}">
    <input type="hidden" name="filament_type" value="{{ filament_type }}">
    <input type="hidden" name="color_name" value="{{ color_name }}">
    <input type="hidden" name="color_hex_code" value="{{ color_hex_code }}">
    <input type="hidden" name="shelf" value="{{ shelf }}">
    <div class="position-buttons">
        <div class="left-side">
            <button type="submit" name="position" value="left front" class="btn btn-large">Left Front</button>
            <button type="submit" name="position" value="left back" class="btn btn-large">Left Back</button>
        </div>
        <div class="right-side">
            <button type="submit" name="position" value="right front" class="btn btn-large">Right Front</button>
            <button type="submit" name="position" value="right back" class="btn btn-large">Right Back</button>
        </div>
    </div>
</form>
{% endblock %}
