{% extends 'base.html' %}

{% block content %}
<h1>Select Shelf</h1>
<form action="{{ url_for('select_shelf') }}" method="post">
    <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}">
    <input type="hidden" name="filament_type" value="{{ filament_type }}">
    <input type="hidden" name="color_name" value="{{ color_name }}">
    <input type="hidden" name="color_hex_code" value="{{ color_hex_code }}">
    
    <h2>Select Shelf:</h2>
    {% for shelf in range(1, 5) %}
        <button type="submit" name="shelf" value="{{ shelf }}" class="btn btn-primary">Shelf {{ shelf }}</button>
    {% endfor %}
</form>
<a href="{{ url_for('select_color', manufacturer_id=manufacturer_id, filament_type=filament_type) }}" class="btn btn-small">Back to Color Selection</a>
{% endblock %}
