{% extends 'base.html' %}

{% block content %}
<h1>Current Inventory</h1>
<div class="table-container">
    <table id="inventoryTable">
        <thead>
            <tr>
                <th>Manufacturer <input type="text" class="column-filter" data-column="0"></th>
                <th>Filament Type <input type="text" class="column-filter" data-column="1"></th>
                <th>Color <input type="text" class="column-filter" data-column="2"></th>
                <th>Color Sample</th>
                <th>Location <input type="text" class="column-filter" data-column="4"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td><div class="color-sample" style="background-color: {{ item[3] }};"></div></td>
                <td>{{ item[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{{ url_for('index') }}" class="btn btn-small">Back to Main Page</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<script>
$(document).ready(function() {
    var table = $('#inventoryTable').DataTable({
        "paging": false,
        "info": false
    });

    $('.column-filter').on('keyup change', function() {
        table.column($(this).data('column'))
            .search(this.value)
            .draw();
    });
});
</script>
{% endblock %}
